.context-menu {
  box-shadow: 0 0 20px 0 #c7cce6;
}

.context-menu ul {
  list-style: none;
  padding: 5px 0px 5px 0px;
}

.context-menu ul li {
  padding: 10px 5px 10px 5px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background: rgba(83, 109, 131, 1);
  border-right: 4px solid #666;
}
